{% extends "base.html" %}
{% load calc_tags %}
{% block title %}TestPress Calculator{% endblock %}
{% block content %}
 <p>Please, use the following form to perform arithmetic operations </p>
 <form method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Calculate"></p>
 </form>
 {% if operation == "add" %}
 <p>The Answer is {% sum number_one number_two %}.</p>
 {% elif operation == "sub" %}
 <p>The Answer is {% sub number_one number_two %}.</p>
 {% elif operation == "mul" %}
 <p>The Answer is {% mul number_one number_two %}.</p>
 {% elif operation == "div" %}
 <p>The Answer is {% div number_one number_two %}.</p>
 {% endif %} 
{% endblock %}
